*{
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: 20px;
  background-image: url(img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;

}

.container{
  margin: auto;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 60%;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  color: limegreen;

}

nav{
  margin: 0;
  width: 100%;
  background-color: lime;
  padding: 5px;
  border-radius: 5px;
}