body{
  margin: 20px;
  box-sizing: border-box;
  background-image: url(img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;

}

.container{
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  width: 60%;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  color: limegreen;

}

img{
  width: 200px;

}